.Playlist__inner {
  width: 100%;
  height: 100%;
  margin-top: 32px;
}

.Playlist__list {
  margin-top: 40px;
}

.Playlist__itemwrap {
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --padding-start: 0;
  --padding-end: 0;
}

.Playlist_artwrap {
  display: flex;
  align-items: center;
}

.Artwork__image {
  height: 40px;
  width: 40px;
  margin-right: 12px;
}

.Artwork__fallback {
  height: 40px;
  width: 40px;
  background: #535355;
  margin-right: 12px;
}

.Playlist__header {
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  height: 38px;
}

.Header__icon {
  font-size: 20px;
}

.Header__title {
  padding: 8px 0;
  font-size: 14px;
}

.Header__title:last-child {
  text-align: right;

  width: 100%;
}

.Playlist__columns {
  display: grid;
  grid-template-columns: [index] 16px [first] 6fr [var1] 4fr [var2] 3fr [last] minmax(120px, 1fr);
  grid-gap: 16px;
  padding: 0 16px;
  width: 100%;
  align-items: center;
}

.Playlist__item {
  border-radius: 5px;
  height: 56px;
}

.Playlist__item:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.Playlist__item--selected {
  background-color: rgba(255, 255, 255, 0.15);
}

.Playlist__number {
  font-size: 16px;
  /* padding: 0 24px; */
}

.Playlist__title {
  display: flex;
  flex-direction: column;
}
.Playlist__title {
  font-size: 16px;
}
.Playlist__artist,
.Playlist__album,
.Playlist__date,
.Playlist__duration {
  color: gray;
  font-size: 14px;
}

.Playlist__duration {
  width: 100%;
  display: block;
  text-align: right;
}

.Toolbar__button {
  width: 32px !important;
  height: 32px !important;
  margin-left: 8px !important;
  --color-hover: white;
}

.Toolbar__button::part(native) {
  padding: 0;
}

.Toolbar__icon {
  width: 20px;
  height: 20px;
}
