.wrapper {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  color: white;
  height: 100%;
  padding: 20px;
}

.audioProgressbar {
  width: 100%;
}

.audioVolumebar {
  width: 20%;
}

.flex {
  display: flex;
}
.ac {
  align-items: center;
}

.jc {
  justify-content: center;
}