.Player__wrapper {
  width: 100%;
  height: 90px;
  background-color: #111;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.Player__left {
  min-width: 180px;
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Song__info {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.Song__title {
  font-size: 14px;
  color: white;
}

.Song__artists {
  font-size: 11px;
  color: gray;
}

.Player__center {
  width: 40%;
  max-width: 722px;
}

.Player__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  height: 32px;
}

.Player__back,
.Player__forward {
  --background: transparent !important;
  --background-hover: transparent !important;
  --color: gray;
  --color-hover: white;
  width: 32px;
  height: 32px;
  margin: 0 8px;
}

.Player__back::part(native),
.Player__forward::part(native) {
  padding: 0;
  width: 32px;
  height: 32px !important;
  margin: 0;
}

.Player__toggle {
  --border-radius: 99px;
  margin: 0;
  height: 32px;
}

ion-icon {
  font-size: 16px;
}

.Player__toggle::part(native) {
  border-radius: 50%;
  padding: 0;
  height: 32px;
  width: 32px;
}

.Player__progress {
  display: flex;
  align-items: center;
}

.Player__audioProgressbar {
  width: 100%;
}

.Progress__currentTime,
.Progress__duration {
  color: white;
  font-size: 11px;
  padding: 0 8px;
  color: gray;
}

.Player__right {
  min-width: 180px;
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.Player__volume {
  display: flex;
  font-size: 16px;
  align-items: center;
}

.Volume__icon {
  font-size: 20px;
  margin-right: 8px;
}

.Player__Slider {
  --slide-backgroud-color: #535353;
  --seek-before-width: 0px;
  --seek-before-color: #b3b3b3;
  --knob-color: white;
  appearance: none;
  background: var(--slide-backgroud-color);
  border-radius: 99px;
  position: relative;
  width: 100%;
  height: 4px;
  outline: none;
}

.Player__Slider--volume {
  --seek-before-width: 26px;
  max-width: 95px;
}

.Player__Slider:hover::before {
  background-color: #ff6628;
}

.Player__Slider::-webkit-slider-runnable-track {
  background: var(--slide-backgroud-color);
  border-radius: 99px;
  position: relative;
  width: 100%;
  height: 4px;
  outline: none;
}

.Player__Slider::-moz-range-track {
  background: var(--slide-backgroud-color);
  border-radius: 99px;
  position: relative;
  width: 100%;
  height: 4px;
  outline: none;
}

.Player__Slider::-moz-focus-outer {
  border: 0;
}

.Player__Slider::before {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  border-top-left-radius: 99px;
  border-bottom-left-radius: 99px;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  background-color: var(--seek-before-color);
  width: var(--seek-before-width);
  height: 4px;
}

.Player__Slider::-moz-progress-bar {
  border-top-left-radius: 99px;
  border-bottom-left-radius: 99px;
  background-color: var(--seek-before-color);
  height: 4px;
}

.Player__Slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 99px;
  border: none;
  background: var(--knob-color);
  position: relative;
  margin-top: -4px;
  z-index: 3;
  box-sizing: border-box;
}

.Player__Slider::-moz-range-thumb {
  height: 12px;
  width: 12px;
  border-radius: 99px;
  border: transparent;
  background: var(--knob-color);
  position: relative;
  z-index: 3;
  box-sizing: border-box;
}
